<nav class="navbar navbar-expand-md navbar-dark bg-info">
    <a class="navbar-brand" href="./"><span class="fas fa-home"></span</a>
    
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <!--a class="nav-link" href="#">Create<span class="sr-only">(current)</span></a-->
                <a class="nav-link" href="#">Create</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="list/">Read</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Delete</a>
            </li>
        </ul>
    </div>
</nav>